<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />
    
	<uses-feature android:name="android.hardware.camera" 
	    android:required="true" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<activity
            android:name="com.talk.demo.account.AppMainActivity"
            android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>    
		<activity
            android:name="com.talk.demo.account.LoginActivity"
            android:label="@string/app_name">
		</activity>
		<activity
            android:name="com.talk.demo.setting.LuckDayActivity"
            android:label="@string/app_name">
		</activity>
        <activity
            android:name="com.talk.demo.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustResize" >
        </activity>
		<activity
            android:name="com.talk.demo.time.TimeAllItem"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.talk.demo.audio.AudioRecorderActivity"
            android:label="@string/app_name" >
        </activity>        
        <service 
            android:name="com.talk.demo.account.AccountAuthenticatorService">
			<intent-filter >
			    <action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
            <meta-data 
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        
		<provider
            android:name="com.talk.demo.sync.ContentProviderAdapter"
            android:authorities="com.talk.sync"
            android:exported="false"
            android:label="Talk"
            android:syncable="true" />
		<service
		    android:name="com.talk.demo.sync.SyncService"
		    android:exported="true"
		    android:process=":sync" >
			<intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
		</service>
		
    </application>

</manifest>
